
  <div class="Block">
    <h1 class="h2">fbank</h1>
    <h2 class="Description">Our bank will make your life better and more comfortable.
      It is one of the most efficient financial and credit institutions in the country.
      We care about the personal, 
      family and business well-being of our clients. 
      The first bank that will provide for any needs.</h2>
      <button class="button2">Learn more ></button>
  </div>
    <div class="Menu">
      <div class="MenuButton">
      <h1 class="h1">menu</h1>
    </div>
  
    <div class="allButtons">
      <div class="buttons">
  
  
        <button class="informBlock" routerLink="/addaccount">
              <img src="assets/img/add.png"/>        
              <h5 class="mainText">Bank accounts</h5>
              <div class="underlineBlock"></div>
              <p class="secondText">Add new bank account.</p>
      </button>
      
        <button class="informBlock" routerLink="/cashtrancs">
          <img src="assets/img/money.png"/>
              <h5 class="mainText">Cash transactions</h5>
              <div class="underlineBlock"></div>
              <p class="secondText">Top up balance/Remove from balance.</p>
      </button>
  
      
        <button class="informBlock" routerLink="/accounts">
            <img src="assets/img/list.png"/> 
              <h5 class="mainText">List of accounts</h5>
              <div class="underlineBlock"></div>
              <p class="secondText">Display all bank accounts.</p>
      </button>
  
    </div>
  
    <div class="buttons">
      
        <button class="informBlock" routerLink="/status">
          <img src="assets/img/but.png"/>
              <h5 class="mainText">Change of status</h5>
              <div class="underlineBlock"></div>
              <p class="secondText">Activate/deactivate bank account.</p>
      </button>
  
      
        <button class="informBlock" routerLink="/status">
              <img src="assets/img/status.png"/>
              <h5 class="mainText">Сheck of status</h5>
              <div class="underlineBlock"></div>
              <p class="secondText">Check status of bank account.</p>
      </button>
  
      
        <button class="informBlock" routerLink="/transactions">
              <img src="assets/img/trnc.png"/>
              <h5 class="mainText">Transactions</h5>
              <div class="underlineBlock"></div>
              <p class="secondText">Display all transactions.</p>
      </button>
  
    </div>
  </div>
    </div>
    <router-outlet></router-outlet>