<div class="information">
    <div class="id">{{account.id}}</div>
    <div class="line"></div>
    <div class="money">{{account.money}}</div>
    <div class="line"></div>
    <div class="status">{{account.status}}</div>
    <div class="line"></div>
    <div class="clino">{{account.clino}}</div>
    <div class="line"></div>
    <div class="fname">{{account.fname}}</div>
    <div class="line"></div>
    <div class="lname">{{account.lname}}</div>
    <div class="line"></div>
    <div class="passport">{{account.passport}}</div>
    <div class="line"></div>
    <div class="password">{{account.password}}</div>
</div>

